/* GLOBAL RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;   /* This pushes footer to bottom */
  padding-top: 70px; /* navbar height space */
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fb;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-container {
  margin-top: 80px;
  padding: 40px 8%;
}